#stands {
    fill:#808080;
}

/******************************************************/
/* Interactivity */

.map_image .is-available{
    filter: invert(33%) sepia(100%) saturate(1056%) hue-rotate(89deg) brightness(84%) contrast(94%);
}

.map_image .is-active, .foret .is-active, .lac .is-active{
    filter: invert(50%) sepia(85%) saturate(3564%) hue-rotate(158deg) brightness(83%) contrast(92%);
    font-weight:bold;
}

.map_list .is-active{
    font-weight:bold;
    font-size: large;
}