<h1>Login</h1>

<div class="container">
    <form id="login_form" method="post" class="col" action="/login/">
        <div class="row-auto form">
            <label for="email">Email :</label>
            <input type="email" name="email" class="form-control" id="email" placeholder="email@email.com">
        </div>
        <div class="row-auto form">
            <label for="user_name">Pseudo :</label>
            <input type="text" name="user_name" class="form-control" id="user_name" placeholder="username">
        </div>
        <div class="row-auto form">
            <label for="password">Mot de passe :</label>
            <input type="password" name="password" class="form-control" id="password" placeholder="password">
        </div>
        <div class="row justify-content-center form">
            <div class="form-check">
                <input type="checkbox" id="robot" style="width: 18px; height: 18px;">
                <label for="robot"> Je ne suis pas un robot</label>
            </div>
        </div>
        <Button type="button" class="btn btn-success center" onclick="formSubmit()">Submit</Button>
    </form><br><br>
</div>

<div class="footer-space"></div>

<script>
    function formSubmit() {
        if (document.getElementById("robot").checked === true) document.getElementById("login_form").submit();
        else alert('Veuillez cochez la case "Je ne suis pas un robot" pour continuer.');
    }
</script>