<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Festival des sports</title>
    <meta name="description" content="Festival des sports">
    <meta name="author" content="SAE-S3">
    <link href="/css/bootstrap.css" rel="stylesheet" >
    <link href="/css/tp3.css" rel="stylesheet" >
    <link rel="icon" type="image/png" href="/public/img/IUTI.png">
    <script src="/js/bootstrap.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="top">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <a href="http://www.iut-bm.univ-fcomte.fr/">
                <img src="/img/IUT.png" class="rounded" alt="IUT LOGO" width="55" height="60" class="d-inline-block align-text-top">
            </a>
            <a href="http://www.iut-bm.univ-fcomte.fr/pages/fr/dpt-info---actualites-17109.html">
                <img src="/img/IUTI.png" class="rounded" alt="IUT LOGO" width="55" height="60" class="d-inline-block align-text-top">
            </a>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="/">Home</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">

    {{{body}}}

</div>
</body>
</html>