<div class="container-fluid"> <!--correspond à tout le contenu de la page sans le header et footer-->
    <div class="row ml-5"> <!-- correspondant aux contenu texte avant le calendrier-->
        <h1>Stand n°1 Club de basket</h1>
    </div>
    <div class="row mb-5">
        <div class="col-1"></div>
        <div class="col-3 mx-auto text-right">
            <a href="https://www.jdadijon.com/basket/"><img src="basket.jpg" width="400"></a>
        </div>
        <div class="col-7 mx-auto">
            <div class="row content">
                <h2 class="h2Presta">A propos</h2>
            </div>

            <div class="row">
                <div class="paragraphe text-left">
                    Le BASKET PARIS 14 est implanté dans le 14e arrondissement de Paris. Réparti sur plusieurs gymnases, le club attire des adhérents de tout Paris et même de toute l’Île-de-France. Nous faisons aujourd’hui parti du Top 3 des clubs français et sommes numéro 1 à Paris en nombre de licenciés, avec plus de 700 adhérents chaque saison. Nous accueillons garçons et filles, en catégorie Loisir ou Compétition, et cela dès l’âge de 3 ans avec la création de la catégorie Éveil-U5.

                </div>
            </div>
        </div>
        <div class="col-1"></div>
    </div>



    <hr>
    <div class="row ml-5">
        <h2 class="h2Presta">Initiation/Activités </h2>
    </div>
    <div class="row ml-5"></div>
    <div class="paragraphe text-left">
        Nous vous proposons plusiers petites initiations sur les bases du shoot, du placement
    </div>
</div>


<hr>
<div class="row ml-5">
    <h2 class="h2Presta">Calendrier </h2>
    <br>
</div>

<div class="row ml-5    ">
    <table class="border p-5">
        <thead>
        <tr class="align-middle text-center">
            <th></th>
            <th>8h</th>
            <th>9h</th>
            <th>10h</th>
            <th>11h</th>
            <th>12h</th>
            <th>13h</th>
            <th>14h</th>
            <th>15h</th>
            <th>16h</th>
            <th>17h</th>
            <th>18h</th>
            <th>19h</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Samedi</td>
        </tr>
        <tr>
            <td>Dimanche</td>
        </tr>

        </tbody>
    </table>

</div>


<hr>
<div class="row ml-5">
    <h2 class="h2Presta">Commentaires </h2>
</div>
<div class="row me-4">
    <div class="col-md-4 py-4 ps-5">
        <div class="card shadow-sm">
            <div class="card-body">
                <h3 class="card-title">Nom utilisateur </h3>
                <p class="card-text"> <b> Commentaire : </b> </p>
                <p class="text-right red"> ?/10</p>
            </div>
        </div>
    </div>

    <div class="col-md-4 py-4 ps-5">
        <div class="card shadow-sm">
            <div class="card-body">
                <h3 class="card-title">Nom utilisateur </h3>
                <p class="card-text"> <b> Commentaire : </b> </p>
                <p class="text-right red"> ?/10</p>
            </div>
        </div>
    </div>

    <div class="col-md-4 py-4 ps-5">
        <div class="card shadow-sm">
            <div class="card-body">
                <h3 class="card-title">Nom utilisateur </h3>
                <p class="card-text"> <b> Commentaire : </b> </p>
                <p class="text-right red"> ?/10</p>
            </div>
        </div>
    </div>
</div>

<div class="row me-4">
    <div class="col-md-4 py-4 ps-5">
        <div class="card shadow-sm">
            <div class="card-body">
                <h3 class="card-title">Nom utilisateur </h3>
                <p class="card-text"> <b> Commentaire : </b> </p>
                <p class="text-right red"> ?/10</p>
            </div>
        </div>
    </div>

    <div class="col-md-4 py-4 ps-5">
        <div class="card shadow-sm">
            <div class="card-body">
                <h3 class="card-title">Nom utilisateur </h3>
                <p class="card-text"> <b> Commentaire : </b> </p>
                <p class="text-right red"> ?/10</p>
            </div>
        </div>
    </div>

    <div class="col-md-4 py-4 ps-5">
        <div class="card shadow-sm">
            <div class="card-body">
                <h3 class="card-title">Nom utilisateur </h3>
                <p class="card-text"> <b> Commentaire : </b> </p>
                <p class="text-right red"> ?/10</p>
            </div>
        </div>
    </div>
</div>
</div>