.Clic{
    background-color: #495388 !important;
    border-radius: 15px !important;
}

.Chart{
    background-color: white !important;
    border-radius: 15px !important;
}

.chart-title{
    font-family: 'Montserrat', sans-serif !important;
    font-size: x-large !important;
    color: white !important;
}

.label-chart{
    font-family: 'Work Sans', sans-serif !important;
    font-size: large;
    color: white !important;
}

.text-chart{
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    color: white !important;
}

.hr-chart{
    color: white;
}

.update-button{
    position: fixed !important;
    right: 30px !important;
    bottom: 30px !important;
    background: white !important;
    border-color: transparent !important;
    border-radius: 50% !important;
    padding: 10px 12px !important;
    animation: titleWheelHueColor 10s infinite;
}

@keyframes titleWheelHueColor {
    from, to      { color: #6ec8cb }
    25%      { color: #495388 }
    50%      { color: #021331 }
    75%      { color: #495388 }
    100%      { color: #6ec8cb }
}

@media (max-width: 992px){
    .Chart{
        height: 400px;
    }
}
