.carousel-caption {
    top: 20%;
    height: auto;
    width: auto;
}

.justified-text-center {
    text-align-last: center;
    text-align: justify;
    -moz-text-align-last: center;
}

@keyframes scaleInlineItem {
    0% {
        transform: scale(100%);
    }
    50% {
        transform: scale(150%);
    }
    100% {
        transform: scale(100%);
    }
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
    width: auto;
    height: auto;
    white-space: nowrap;
}

.nav-link, .dropdown-item{
    white-space: nowrap;
    width: auto;
    height: auto;
    border-radius: 8px;
    display:block;
}