.map_image{
    float: left;
}

ul {
    list-style-type: none;
}

/* Fonctionne que sur la balise asso1 mais la déplace en dehors de la carte, a corrigé */
.map_image .stands image:hover{
    /* transform-origin: bottom center; */
    transform-origin: 50% 60%;
    transform: scale(1.3);
    
    
}

.map_image rect {
    fill:#8b6c42;
}

.map_image .is-active rect{
    /* fill:#ff8000; */
    filter: invert(55%) sepia(92%) saturate(2602%) hue-rotate(360deg) brightness(101%) contrast(105%);
}

.map_image #scene .is-active {
    filter: invert(77%) sepia(69%) saturate(1579%) hue-rotate(359deg) brightness(105%) contrast(107%);
}

.map_list a.is-active{
    color:red;
    font-weight:bold;
}

.map_list{
    float:inline-start;
}

.map_list a{
    color: inherit;
    text-decoration: none;
}

.modal.right .modal-dialog {
    position: fixed;
    margin: auto;
    width: 320px;
    height: 100%;
    right: 0px;
}

.modal.right .modal-content {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.modal.right .modal-body {
    padding: 15px 15px 80px;
}

.map_image .resto .is-active, .map_image .clubs .is-active, .map_image .magasins .is-active {
    /* fill:#021331; la couleur fixe pour les restos */
    filter: invert(55%) sepia(92%) saturate(2602%) hue-rotate(360deg) brightness(101%) contrast(105%);
}