<div class="slideshow-container">
    <div class="mySlides fade">
        <img src="https://cdn.discordapp.com/attachments/894224051571138560/1028048900860428371/image_home_2_filter1.png" style="width:100%">
    </div>
    <div class="mySlides fade">
        <img src="https://cdn.discordapp.com/attachments/894224051571138560/1028050754042351707/image_home_3_filter1.png" style="width:100%">
    </div>
    <div class="mySlides fade">
        <img src="https://cdn.discordapp.com/attachments/894224051571138560/1028050937757040640/image_home_4_filter1.png" style="width:100%">
    </div>
    <div class="mySlides fade">
        <img src="https://cdn.discordapp.com/attachments/894224051571138560/1028051419237994566/image_home_5_filter1.png" style="width:100%">
    </div>
</div>
<br>

<div class="container">
    <div class="row paragraphe">
        <a><h2>POURQUOI CET EVENEMENT ?</h2>
            Venez participer au travers de nombreuses épreuves et récolter des fonds pour l’association APF ! <br><br>
            Natation, athlétisme, VTT et bien d’autres encore seront au rendez-vous pour vous faire passer un moment inoubliable entre amis, en famille ou en solitaire.<br>
            Alors n’hésitez plus et ressortez vos vieilles baskets du placard pour venir vous challenger dans la bonne humeur !<br>
            Tous les bénéfices de cet évènement seront reversés à l’association APF pour aider à inclure les personnes à mobilité réduite dans le monde du sport. <br><br>
            Pour plus d’informations, voir sur la page d’APF.<br>
        </a>
    </div>
    <div class="row ligne"></div>

    <h1>HOME</h1>
    <h3>Palettes de couleurs</h3>
    <div class="row" style="border: 2px solid #1a265a;">
        <div class="col text-center" style="background-color: #495388; height: 100px; width: 100px;"></div>
        <div class="col text-center" style="background-color: #ffffff"></div>
        <div class="col text-center" style="background-color: #6ec8cb"></div>
        <div class="col text-center" style="background-color: #d9231a"></div>
        <div class="col text-center" style="background-color: #021331"></div>
    </div>
    <div class="row" style="border: 2px solid #1a265a;">
        <div class="col text-center">
            <a>#495388</a>
        </div>
        <div class="col text-center">
            <a>#ffffff</a>
        </div>
        <div class="col text-center">
            <a>#6ec8cb</a>
        </div>
        <div class="col text-center">
            <a>#d9231a</a>
        </div>
        <div class="col text-center">
            <a>#021331</a>
        </div>
    </div>
</div><br><br>

<script>
    let slideIndex = 0;
    showSlides();
    function showSlides() {
        let slides = document.getElementsByClassName("mySlides");
        for (let i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex > slides.length) {slideIndex = 1}
        slides[slideIndex-1].style.display = "block";
        setTimeout(showSlides, 20000);
    }
</script>