
<div class="slideshow-container">
    <div class="mySlides fade">
        <img src="https://www.w3schools.com/howto/img_nature_wide.jpg" style="width:100%">
    </div>
    <div class="mySlides fade">
        <img src="https://www.w3schools.com/howto/img_snow_wide.jpg" style="width:100%">
    </div>
    <div class="mySlides fade">
        <img src="https://www.w3schools.com/howto/img_mountains_wide.jpg" style="width:100%">
    </div>
</div>
<br>

<div class="container">
    <h1>Home</h1>
    <h3>Palettes de couleurs</h3>
    <div class="row" style="border: 1px solid #1a265a;">
        <div class="col text-center" style="background-color: #495388; height: 100px; width: 100px;"></div>
        <div class="col text-center" style="background-color: #ffffff"></div>
        <div class="col text-center" style="background-color: #6ec8cb"></div>
        <div class="col text-center" style="background-color: #d9231a"></div>
        <div class="col text-center" style="background-color: #021331"></div>
    </div>
    <div class="row" style="border: 1px solid #1a265a;">
        <div class="col text-center">
            <a>#495388</a>
        </div>
        <div class="col text-center">
            <a>#ffffff</a>
        </div>
        <div class="col text-center">
            <a>#6ec8cb</a>
        </div>
        <div class="col text-center">
            <a>#d9231a</a>
        </div>
        <div class="col text-center">
            <a>#021331</a>
        </div>
    </div>
</div><br><br>

<script>
    let slideIndex = 0;
    showSlides();
    function showSlides() {
        let slides = document.getElementsByClassName("mySlides");
        for (let i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex > slides.length) {slideIndex = 1}
        slides[slideIndex-1].style.display = "block";
        setTimeout(showSlides, 10000);
    }
</script>