.map_image{
    float: left;
}

.map_image path:hover{
    fill:blue;
}

.map_image .is-unavailable{
    filter: invert(16%) sepia(87%) saturate(8000%) hue-rotate(335deg) brightness(90%) contrast(100%);
}

.map_image .is-active rect{
    filter: invert(50%) sepia(85%) saturate(3564%) hue-rotate(158deg) brightness(83%) contrast(92%);
}

.map_image .foret .is-active{
    filter: invert(50%) sepia(85%) saturate(3564%) hue-rotate(158deg) brightness(83%) contrast(92%);
}

.map_image .lac .is-active{
    filter: invert(50%) sepia(85%) saturate(3564%) hue-rotate(158deg) brightness(83%) contrast(92%);
}

.map_list a.is-active{
    color:red;
    font-weight:bold;
}

.map_list{
    float:inline-start;
}

.map_list a{
    color: inherit;
    text-decoration: none;
}

.modal.right .modal-dialog {
    position: fixed;
    margin: auto;
    width: 320px;
    height: 100%;
    right: 0px;
}

.modal.right .modal-content {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.modal.right .modal-body {
    padding: 15px 15px 80px;
}