.vueperslide__content, .vueperslide__title {
    text-shadow: 2px 2px 4px #021331;
    color: white;
    text-align: center;
    position: absolute;
}

.vueperslide__image {

}

@media (min-width: 1200px) {
    .vueperslides--fixed-height {
        height: 800px;
    }

    .vueperslide__title {
        font-size: 5em;
        top: 25%;
    }

    .vueperslide__content {
        font-size: 2em;
        top: 40%;

    }
}

@media (min-width: 1000px) and (max-width: 1200px){
    .vueperslides--fixed-height {
        height: 800px;
    }

    .vueperslide__title {
        font-size: 4em;
        top: 25%;
    }

    .vueperslide__content {
        font-size: 2em;
        top: 38%;

    }
}

@media (min-width: 800px) and (max-width: 1000px){
    .vueperslides--fixed-height {
        height: 600px;
    }

    .vueperslide__title {
        font-size: 3em;
        top: 30%;
    }

    .vueperslide__content {
        font-size: 1em;
        top: 42%;

    }
}

@media (min-width: 600px) and (max-width: 800px){
    .vueperslides--fixed-height {
        height: 600px;
    }

    .vueperslide__title {
        font-size: xx-large;
        top: 35%;
    }

    .vueperslide__content {
        font-size: large;
        top: 43%;

    }
}

@media (min-width: 500px) and (max-width: 600px){
    .vueperslides--fixed-height {
        height: 400px;
    }


    .vueperslide__title {
        font-size: xx-large;
        top: 30%;
    }

    .vueperslide__content {
        top: 43%;

    }
}

@media (min-width: 400px) and (max-width: 500px){
    .vueperslides--fixed-height {
        height: 400px;
    }

    .vueperslide__title {
        font-size: x-large;
        top: 30%;
    }

    .vueperslide__content {
        top: 40%;

    }
}

@media (min-width: 0px) and (max-width: 400px){
    .vueperslides--fixed-height {
        height: 200px;
    }

    .vueperslide__title {
        top: 30%;
    }

    .vueperslide__content {
        font-size: small;
        top: 43%;

    }
}