.map_image{
    float: left;
}

/* .map_image path{
    stroke: black;
    stroke-width: 1px;
}

.map_image path:hover{
    fill:blue;
} */

.map_image path:hover{
    fill:blue;
}

/* .map_image rect:hover{
    fill:red;
} */


.map_image .is-active rect{
    fill:#ff8000;
}

.map_list a.is-active{
    color:red;
    font-weight:bold;
}

.map_list{
    float:inline-start;
}

.map_list a{
    color: inherit;
    text-decoration: none;
}