.navbar{
    background: linear-gradient(to left, #aef0ff, #aef0ff);
}

.slideshow-container {
    position: relative;
    margin: auto;
}

.fade {
    animation-name: fade;
    animation-duration: 10s;
}

@keyframes fade {
    from {opacity: .6}
    to {opacity: 1}
}

.nav-link, .dropdown-item{
    width: auto;
    height: auto;
    padding: 7px;
    margin : 5px;
    border-radius: 10px;
    display:block;
    font-weight: bold;
    font-size: large;
}

.nav-link:hover,.dropdown-item:hover {
    background-color: white;
}

.dropdown-item:hover {
    background-color: #aef0ff;
}


body{
    font-family: Helvetica, Arial, sans-serif;
}

h1{
    text-align: center;
    margin-top: 4%;
    margin-bottom: 4%;
    font-size: 50px;
}
h2{
    text-align: center;
    margin-bottom: 50px;
    font-size: 40px;
}

p{
    font-size: 19px;
    text-align: justify;
}

hr{
    border: 1px solid black;
    width: 66%;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

.img-content{
    max-width: 100%;
    min-width: 100%;
    object-fit: contain;
}

.quote{
    font-style: italic;
    font-size: 18px;
}

#toTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 35px;
    border-radius: 50%;
    border: white solid 2px;
}


.center{
    text-align: center;
}


.content{
    text-indent: 30px;
}

.footer-basic {
    padding:15px ;
    background-color: #aef0ff;
    font-weight: bold;
    color: black;
}

.footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
}

.footer-basic li {
    padding:0 10px;
}

.footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
}

.footer-basic ul a:hover {
    opacity:1;
}

.footer-basic .social {
    text-align:center;
    padding-bottom:10px;
}

.footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
}

.footer-basic .social > a:hover {
    opacity:0.9;
}

.footer-basic .copyright {
    margin-top:10px;
    text-align:center;
    font-size:13px;
    margin-bottom:0;
}
