.nav-item:hover .dropdown-menu {
    display: block;
    margin-top: 0;
    width: auto;
    height: auto;
    white-space: nowrap;
}

.dropdown-item{
    white-space: nowrap;
    width: auto;
    height: auto;
    border-radius: 8px;
    display:block;
}

.removePadding > a{
    padding: 4px 8px !important;
}

.rounded {
    animation: 8s infinite alternate rotate;
}

.button{
    border: 0 !important;
    background-color: #6ec8cb !important;
}

.button:hover{
    background-color: #d9231a !important;
    color: white !important;
}

.ConnectLabel > legend {
    font-family: 'Montserrat', sans-serif;
    letter-spacing:1px;
    color: #495388;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

.navbar-collapse{
    text-indent: 10px !important;
}